<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
		<script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
		<script type="text/javascript">
			window.tailwind.config = {
				darkMode: ['class'],
				theme: {
					extend: {
						colors: {
							border: 'hsl(var(--border))',
							input: 'hsl(var(--input))',
							ring: 'hsl(var(--ring))',
							background: 'hsl(var(--background))',
							foreground: 'hsl(var(--foreground))',
							primary: {
								DEFAULT: 'hsl(var(--primary))',
								foreground: 'hsl(var(--primary-foreground))'
							},
							secondary: {
								DEFAULT: 'hsl(var(--secondary))',
								foreground: 'hsl(var(--secondary-foreground))'
							},
							destructive: {
								DEFAULT: 'hsl(var(--destructive))',
								foreground: 'hsl(var(--destructive-foreground))'
							},
							muted: {
								DEFAULT: 'hsl(var(--muted))',
								foreground: 'hsl(var(--muted-foreground))'
							},
							accent: {
								DEFAULT: 'hsl(var(--accent))',
								foreground: 'hsl(var(--accent-foreground))'
							},
							popover: {
								DEFAULT: 'hsl(var(--popover))',
								foreground: 'hsl(var(--popover-foreground))'
							},
							card: {
								DEFAULT: 'hsl(var(--card))',
								foreground: 'hsl(var(--card-foreground))'
							},
						},
					}
				}
			}
		</script>
		<style type="text/tailwindcss">
			@layer base {
				:root {
					--background: 0 0% 100%;
--foreground: 240 10% 3.9%;
--card: 0 0% 100%;
--card-foreground: 240 10% 3.9%;
--popover: 0 0% 100%;
--popover-foreground: 240 10% 3.9%;
--primary: 240 5.9% 10%;
--primary-foreground: 0 0% 98%;
--secondary: 240 4.8% 95.9%;
--secondary-foreground: 240 5.9% 10%;
--muted: 240 4.8% 95.9%;
--muted-foreground: 240 3.8% 46.1%;
--accent: 240 4.8% 95.9%;
--accent-foreground: 240 5.9% 10%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 0 0% 98%;
--border: 240 5.9% 90%;
--input: 240 5.9% 90%;
--ring: 240 5.9% 10%;
--radius: 0.5rem;
				}
				.dark {
					--background: 240 10% 3.9%;
--foreground: 0 0% 98%;
--card: 240 10% 3.9%;
--card-foreground: 0 0% 98%;
--popover: 240 10% 3.9%;
--popover-foreground: 0 0% 98%;
--primary: 0 0% 98%;
--primary-foreground: 240 5.9% 10%;
--secondary: 240 3.7% 15.9%;
--secondary-foreground: 0 0% 98%;
--muted: 240 3.7% 15.9%;
--muted-foreground: 240 5% 64.9%;
--accent: 240 3.7% 15.9%;
--accent-foreground: 0 0% 98%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--border: 240 3.7% 15.9%;
--input: 240 3.7% 15.9%;
--ring: 240 4.9% 83.9%;
				}
			}
		</style>
  </head>
  <body>
    

<div class="flex flex-col items-center justify-center min-h-screen bg-zinc-100 font-[Gilroy]">
  <div class="bg-white p-16 m-8 rounded-lg shadow-md w-full max-w-md">
    <h1 class="text-center text-3xl font-bold mb-4">Instagram</h1>
    <p class="text-center text-zinc-600 mb-6">Sign up to see photos and videos from your friends.</p>
    <button class="bg-blue-600 text-white w-full py-2 rounded-lg mb-4 flex items-center justify-center">
      <img aria-hidden="true" alt="facebook-icon" src="/images/facebookmainlogo3.png" class="mr-2 bg-white-400 text-white hover:bg-blue-400" />
      Log in with Facebook
    </button>
    <div class="flex items-center justify-center mb-4">
      <hr class="flex-grow border-zinc-300" />
      <span class="px-2 text-zinc-500">OR</span>
      <hr class="flex-grow border-zinc-300" />
    </div>
    <form class="space-y-4" action="/register" method="post">
      <input type="text" placeholder=" Email" class="w-full p-2 border border-zinc-300 rounded-lg" name="email"/>
      <input type="text" placeholder="Full Name" class="w-full p-2 border border-zinc-300 rounded-lg" name="fullname"/>
      <input type="text" placeholder="Username" class="w-full p-2 border border-zinc-300 rounded-lg" name="username"/>
      <input type="password" placeholder="Password" class="w-full p-2 border border-zinc-300 rounded-lg" name="password"/>
      <p class="text-xs text-zinc-500">People who use our service may have uploaded your contact information to Instagram. <a href="#" class="text-blue-600">Learn More</a></p>
      <p class="text-xs text-zinc-500">
        By signing up, you agree to our <a href="#" class="text-blue-600">Terms</a>, <a href="#" class="text-blue-600">Privacy Policy</a> and <a href="#" class="text-blue-600">Cookies Policy</a>.
      </p>
      <button type="submit" class="bg-blue-600 text-white w-full py-2 rounded-lg hover:bg-blue-400">Sign up</button>
    </form>
    <div class="text-center mt-4">
      <p class="text-zinc-600">Have an account? <a href="/login" class="text-blue-600">Log in</a></p>
    </div>
  </div>
  <footer class="mt-8 text-center text-zinc-500 text-sm">
    <p>Meta About Blog Jobs Help API Privacy Terms Top Accounts Hashtags Locations Instagram Lite Threads Contact Uploading & Non-Users Meta Verified</p>
    <p class="mt-4">English © 2023 Instagram from Meta</p>
  </footer>
</div>


  </body>
</html>
